<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <title>Students Financials</title>
</head>
<body style="background-color: rgb(236, 236, 236);">

  
    <div class="my-5 mx-3" style="width: 98%; background-color: white; padding: 2%; border-radius: 5px; align-self: center;">
        <h1 class="my-3" style="text-align: center;">Students Financials</h1>
        <br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Roll No</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Status</th>
                <th scope="col">Amount</th>
                <th scope="col">Action</th>
              </tr>
            </thead>

            <form action="/std_fee_edit/{{selected_std.sno}}", method="POST">
            <tbody>
                <tr>
                  <th scope="row">{{selected_std.sno}}</th>
                  <td>{{selected_std.name}}</td>
                  <td>{{selected_std.classNo}}th</td>
                  <td>
                    <div style="display: inline; margin-right: 20%; cursor: pointer;" >
                      <input class="form-check-input" type="radio" style="cursor: pointer;" name="fee_status{{ selected_std.sno }}" id="paid{{ selected_std.sno }}" value="Paid" {% if selected_std.status == 'Paid' %} checked {% endif %}>
                      <label class="form-check-label" for="paid{{ selected_std.sno }}" style="cursor: pointer;">
                          Paid
                        </label>
                      </div>
                      <div style="display: inline; margin-right: 20%; cursor: pointer;" >
                        <input class="form-check-input" type="radio" style="cursor: pointer;" name="fee_status{{ selected_std.sno }}" id="unpaid{{ selected_std.sno }}" value="Unpaid" {% if selected_std.status == 'Unpaid' %} checked {% endif %}>
                        <label class="form-check-label" for="unpaid{{ selected_std.sno }}" style="cursor: pointer;">
                          Unpaid
                        </label>
                      </div>
                  </td>
                  <td>
                    <input type="hidden" name="name" id="name" >
                    <input type="hidden" name="classNo" id="classNo" >

                    <span>Rs.</span>
                    <input type="text" name="amount" id="amount" value="{{selected_std.amount}}">
                  </td>
                  <td>
                    <button type="submit" name="submit" id="submit" class="btn btn-success">Save Changes</button>
                  </td>
                </tr>
            </tbody>
          </form>
          </table>
    </div>
</body>
</html>